<div class="sharing">
{% if false %}<a href="https://coderwall.com/momoto"><img alt="Endorse momoto on Coderwall" src="http://api.coderwall.com/momoto/endorsecount.png" /></a>{% endif %}
<g:plusone size="medium" annotation="none"></g:plusone>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }}" data-count="none">Tweet</a>
<fb:like data-href="{{ site.url }}{{ page.url }}" layout="button_count"></fb:like>
<script type="IN/Share" data-url="{{ site.url }}{{ page.url }}"></script>
<a href="http://b.hatena.ne.jp/entry/{{ site.url }}{{ page.url }}" data-hatena-bookmark-title="{{ page.title }} - {{ site.title }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
{% if false %}<div id="disqus_thread" aria-live="polite"></div><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>{% endif %}
</div>
