---
layout: default

---

<article role="article">
{% if page.title %}
  <header>

    {% if page.date %}<p class="text-muted text-right">{% include post/date.html %}{{ time }}</p>{% endif %}
    <h1 class="entry-title page-header">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
{% endif %}
  <section class="entry-content">{{ content }}</section>
{% unless page.footer == false %}
  <footer>
    <hr>
    <p>
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    {% unless page.sharing == false %}<p>{% include post/sharing.html %}</p>{% endunless %}
  </footer>
{% endunless %}
</article>
